.doctor_card{
    width: 35vw;
    background-color: white;
    margin:auto ;
    margin:20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 1px gray;
    display: flex;
    justify-content: space-evenly;
}
.caard{
    width:"10rem",
}
.card_left{

/* background-color: brown; */
flex-grow: 1;
max-width: 10%;

}
.card_center{

/* background-color: green; */
width: 90%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
margin-left: 10px;
}
.card_right{


flex-grow: 1;
width: 10%;
display: flex;
flex-direction: column;
justify-content: flex-start;

}
.doctor_image{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;

}
.doctor_address{
margin-top: 10px;

color: gray;
font-weight: bold;
margin-left: 30px;
}
.doctor_name{
font-size: 1.5rem;
font-weight: bold;
text-transform: capitalize;
margin-left: 30px;

}
.doctor_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px 0px;
    color: black;
   
}
.doctor_description{
   
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    overflow-wrap:break-word;
    overflow: hidden;
    max-width: 40vw;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    color: black;
   
}

.doctor_schedule{

    max-width: 30vw;
    margin: auto;
    color: black;
    
}
.otherdata{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nonlink{
    text-decoration: none;
}
@media screen and (max-width: 770px) {

    .doctor_card{
        flex-direction: column;
        width: 90vw;
        
    }
    .doctor_image{
        margin-top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 10px;
    
    }
.doctor_description{
    max-width: 95vw;
}

.doctor_schedule{
    max-width: 80vw;
}
.caard{
    width:"16rem",
}
.myfontsize{
    font-size: 11px;
}
.marginbutton{margin: auto;}
.myflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
}



.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 75%;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s
}

.card-inner:hover {
    transform: scale(1.1)
}

.mg-text span {
    font-size: 12px
}

.mg-text {
    line-height: 14px
}

.overdescription {
    white-space: wrap; 
    width: 100%; 
    height: 11vh;
    overflow: hidden;
    text-overflow: ellipsis; 
   
  }