.mybody {
  display: flex;
  justify-content: space-around;
}
.parent_cards_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
button[role="tab"].active {
  background-color: #b8d8d6 !important;
}
.accordion-button {
  background-color: #f9f7f3 !important;
}
.card_height {
}
.img_height {
  width: 75px;
  height: 75px;
}

.pets_doctor_background {
  background-image: url("https://www.panthercreekpetclinic.com/uploads/SiteAssets/164/images/home-hero/panther-creek-cat-hero-1443px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* On screens that are 992px or less, set the background color to */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to  */
@media screen and (max-width: 770px) {
  .mybody {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
