body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f3 !important;
  color: #0d1821 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.primary-bg {
  background-color: #b8d8d6 !important;
}

.blonde-bg {
  background-color: #f6eebd !important;
}

.blonde-text {
  color: #f6eebd !important;
}
.blue-bg {
  background-color: #1a2e3b !important;
}
.light-bg {
  background-color: #f9f7f3 !important;
}

ul {
  padding-inline-start: 0;
}

li {
  padding: 0.5em 0;
}

.contact-icons {
  width: 60px;
  height: 60px;
}
.form {
  position: relative;
  margin: 4em 0px;
}
.form-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  margin-bottom: 10px;
}
.search > input {
  border-radius: 6px;
  border: none;
  padding: 3px;
}
.get-started {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8d8d6;
  height: 300px;
}
.btn-1 {
  background: #1a2e3b;
  border: none;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 1em;
  text-decoration: none;
}
.btn-2 {
  background: #f6eebd;
  border: none;
  color: #000000;
  padding: 0.5em;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 1em;
  text-decoration: none;
}

/* ChatBot */
.app-chatbot-container {
  height: 500px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
  border-radius: 5px;
}

.app-chatbot-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #67a19c;
  border: none;
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  right: 40px;
}

.app-quickstart-button {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px;

  display: block;
  margin: 30px auto;
  width: 150px;
}

.app-chatbot-button-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.app-header {
  color: #fff;
}

.app-paragraph {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.app-overview {
  margin-top: 5rem;
}
.react-chatbot-kit-user-avatar-container {
  background-color: #67a19c;
}

.react-chatbot-kit-chat-bot-message-container > svg {
  width: 48px;
  fill: #67a19c;
  height: 40px;
}

@media (max-width: 600px) {
  .app-chatbot-container {
    transform: scale(0.9) translateY(26px);
  }
}

.active-sidebar-selection {
  border-radius: 40px;
  padding: 1.5em;
  cursor: pointer;
}
.inactive-sidebar-selection {
  padding: 1.5em;
  cursor: pointer;
}

.flex-one {
  flex: 1;
}
.flex-two {
  flex: 2;
}

.font-small {
  font-size: small;
}
