body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.primary-bg {
  background-color: #b8d8d6;
}

.primary-color {
  color: #b8d8d6;
}

.secondary-bg {
  background-color: #188b87;
}

.secondary-color {
  color: #188b87;
}
ul {
  padding-inline-start: 0;
}

li {
  padding: 0.5em 0;
}

.contact-icons {
  width: 60px;
  height: 60px;
}
